 header
margin{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
.visualization-button,
.reload-button {
  width: 80px;
  height: 40px;
}
 .buttons{
    display: flex;
    border-color: blue;
}
    @media(max-width:998px){
    .navbar{      
     height:6rem;
     /* grid-template-columns: 2rem 3fr 3fr 1fr 2rem;  */
     width:100%;
}
    .Nepal{
     display:flex;
    }
  }

            .navbar img{
                width:100px;
                height: 80px;
    }
  
             
               
    .Toolbal{
      height:40px;
      width:50px;
      align-items: center;
      display: flex;
      margin:20px;
      background-color: blue;
      border-color:blue; 
      border-radius: 50%;
    }

    .Toolbal:hover{
      color:lightblue;
      border-color:slategrey;
      background-color: slategrey;
      border-radius: 50%;

  }
  .Dataload:hover{
      color:white;
      background-color: grey;
  }

  /* @media(max-width:768px){
    .search-form{
      margin:0;
      margin-left:auto;
    }
    .search-box{
      max-width:100%;
      margin-right:10px;
    }
    .search-ico{
      margin-left:0;
    }
  }
   */

                
